@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* HEADER STYLING */

$app-gray: #F7F7F7;
$phone-break: 420px;
$app-width: 480px;

header {
  background-color: $app-gray;
  max-width: $app-width;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.header-options {
  margin-left: 10px;
  margin-bottom: 5px;
  @media screen and (max-width: $phone-break) {
    float: none !important;
    text-align: center;
    margin-left: -7px;
  }
}

.header-options a {
  color: black;
  text-decoration: none;
}

header img {
  vertical-align: bottom;
}

header h1 {
  font-size: 2rem;
}

.main-header {
  display: inline;
  font-family: 'Lobster', cursive;
  vertical-align: super;
}

.user-options {
  margin-top: 14px;
  margin-right: 10px;
  color: black;
  @media screen and (max-width: $phone-break) {
    float: none !important;
    text-align: center;
    margin-top: 0;
    margin-bottom: 14px;
  }
}

.alert {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 2px;
}

.clear {
  clear: both;
}

.action-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* COMMON TOP ELEMENTS */

.container {
  max-width: $app-width;
  padding-right: 0;
  padding-left: 0;
}

.index-user-email {
  @media screen and (max-width: $app-width) {
    float: none !important;
    text-align: center;
    margin-top: 7px;
    margin-bottom: -4px;
  }
}

.add-a-gram {
  margin-top: 15px;
  text-align: right;
  text-transform: uppercase;
  @media screen and (max-width: $app-width) {
    float: none !important;
    text-align: center;
  }
}

.add-a-gram a,
.input-gram-button {
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  background-color: $app-gray;
}

.shared-links {
  margin-top: 10px;
  line-height: 2rem;
}

.shared-links a {
  color: black;
}

/* GRAM DETAILING */

.gram-wrapper {
  border: 1px solid;
  border-color: #DDD #BBB #BBB #DDD;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
  margin-bottom: 2rem;
}

.gram-row {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.gram-date {
  text-align: left;
}

.gram-icons {
  text-align: right;
}

.fa-trash-o {
  margin-right: 5px;
}

.gram-edit,
.gram-edit:hover,
.gram-edit:focus {
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.gram-like:hover {
  color: red;
}

.gram-picture {
  width: 100%;
  max-width: 480px;
  // border:
}

.gram-caption {
  padding: 15px;
  text-align: left;
}
.gram-comments-listing {
  padding: 0px 15px 15px 15px;
  text-align: left;
}

.gram-user {
  font-weight: bold;
}


/* INPUTS */

.form-group label {
  display: none;
}

.form-group.comment_message {
  margin-bottom: 0;

}

.form-control::placeholder {
  color: rgba(0,0,0,0.4);
}

.custom-file-upload {
  display: inline !important;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.4s;
}

.custom-file-upload:hover {
  color: white;
  background-color: black;
}

abbr[title="Required"] {
  display: none;
}

div.gram_picture {
  text-align: left;
}

input[type="file"] {
  margin-top: -2px;
  position: absolute;
  text-indent: -110px;
  z-index: -1;
  margin-left: -95px;
}

input[type="file"]:focus {
  outline: none;
}

.vert-help-block {
  margin-top: 4px;
  text-align: center;
  color: #A94442;
  background-color: #F2DEDE;
  border-radius: .25rem;
}

/* COMMENTS */

.gram-bottom-elements {
  position: relative;
}

textarea[id="comment_message"] {
  padding-right: 53px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.gram-comment-button {
  font-size: 2rem;
  color: black;
  background-color: $app-gray;
  position: absolute;
  right: 0;
  bottom: -1px;
  border: 1px solid #BBB;
  border-right: 0px;
  border-radius: .25rem;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 4px 10px;
}
