<div class="container text-center">
  <% if current_user.present? %>
  <p>
    <%= link_to 'Add-a-gram', new_gram_path %>
  </p>
  <% end %>
  <h2>Index Page</h2>
    <% @grams.each do |g| %>
      <p>
        <%= g.caption %>
      </p>
      <p>
        - <%= (g.created_at).strftime("%A, %B %d") %>
      </p>
    <% end %>
</div>
